<%- include('../mods/template') %>
<div id="page-wrapper" ng-app = "torneo" ng-controller = "NuevoTorneoController" >
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
                <h2>Torneo</h2><h4>Nuevo Torneo (Paso 3) - Etapa de Grupos</h4>   
            </div>
        </div>              
         <!-- /. ROW  -->
         <hr />
        <div class="row">
            <div class="col-xs-12">
                <h5>Definicion de Fechas</h5>
                <form ng-submit="registerTorneo(3)">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" ng-repeat="grupo in torneo.grupos track by $index">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ grupo.nombre }}" class="">Grupo "{{ grupo.nombre }}"</a>
                            </h4>
                        </div>
                        <div id="collapse{{ grupo.nombre }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Local</th>
                                            <th></th>
                                            <th>Visitante</th>
                                            <th>Dia</th>
                                            <th>Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="encuentro in torneo.encuentros track by $index" ng-if="encuentro.grupo.nombre == grupo.nombre">
                                            <th>{{ encuentro.local.nombre }}</th>
                                            <th>vs</th>
                                            <th>{{ encuentro.visitante.nombre }}</th>
                                            <th><div class="form-group"><input type="date" class="form-control" ng-model = "encuentro.dia" value="{{ encuentro.dia }}"></div></th>
                                            <th><div class="form-group"><input type="number" class="form-control" ng-model = "encuentro.fecha" value="{{ encuentro.fecha }}"></div></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a ng-click="registerTorneo(1)" class="btn btn-primary">Atras</a>
                <input type="submit" value="Siguiente" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../mods/footer') %>
<script type="text/javascript" src="/torneo/torneo.js"></script>
<script type="text/javascript" src="/torneo/torneosController.js"></script>
