<%- include('../mods/template') %>
    <div id="page-wrapper" ng-app = "torneo" ng-controller = "TorneosController" >
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Torneos</h2>   
                </div>
            </div>              
             <!-- /. ROW  -->
             <hr />
            <div class="row" >
                <div class="col-lg-4 col-md-4" ng-repeat="torneo in torneos">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a class="hlink" href="/torneos/{{ torneo._id }}">{{ torneo.nombre }} <span ng-show="torneo.creando>0"> (En Edicion)</span></a>
                        </div>
                        <div class="panel-body">
                            Fecha Inicio: {{ torneo.inicio | date:'dd/MM/yyyy'}}<br>
                            Fecha Fin: {{ torneo.fin | date:'dd/MM/yyyy' }}<br>
                            Cant Grupos: {{ torneo.grupos.length }}<br>
                            Fechas: {{ torneo.fechas.length }}<br>
                            Cant Encuentros: {{ torneo.encuentros.length }}<br>
                        </div>
                    </div>
                </div>
                <% if (locals.user) {  %>
                    <div class="col-lg-4 col-md-4">
                        <a href="/torneos/register" class="btn btn-primary">Nuevo Torneo</a>
                    </div>
                <% } %> 
            </div>
        </div>
         <!-- /. PAGE INNER  -->
    </div>
<%- include('../mods/footer') %>
<script type="text/javascript" src="torneo/torneo.js"></script>
<script type="text/javascript" src="torneo/torneosController.js"></script>