<%- include('../mods/template') %>
    <div id="page-wrapper" ng-app = "torneo" ng-controller = "TorneosController" >
        <div id="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Torneos</h2>   
                </div>
            </div>              
             <!-- /. ROW  -->
             <hr />
            <div class="row" >
                <div class="col-lg-4 col-md-4" ng-repeat="torneo in torneos">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a class="hlink" href="/torneos/{{ torneo._id }}">{{ torneo.nombre }}</a>
                        </div>
                        <div class="panel-body">
                            Equipos: 32<br>
                            Fecha Inicio/Fin: {{ torneo.fechaInicio }} {{ torneo.fechaFin }}<br>
                            Cant Grupos: {{ torneo.grupos.length }}<br>
                            Fechas: 6<br>
                            Mejor Usuario: Juan<br>
                            Cant Encuentros: 38<br>
                        </div>
                        <div class="panel-footer">
                            <a href="/fecha/fecha.html">Próxima Fecha: 16/06/18</a> (Participando)
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <a href="/torneos/register" class="btn btn-primary">Nuevo Torneo</a>
                </div>
            </div>
        </div>
         <!-- /. PAGE INNER  -->
    </div>
<%- include('../mods/footer') %>
<script type="text/javascript" src="torneo/torneo.js"></script>
<script type="text/javascript" src="torneo/torneosController.js"></script>