</div>
    <div class="footer">
		<div class="row">
			<div class="col-lg-12" >
				IAW - Schiel Juan Jose - LU: 94123 - Proyecto 2 - Comision 21
			</div>
		</div>
	</div>

    <script src="/assets/js/jquery-1.10.2.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/customs.js"></script>

    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> 
</body>
</html>
