<ul class="nav" id="main-menu">
    <li>
        <a href="#" onclick="switch_style()"><i class="fa fa-exchange "></i>Cambiar estilo</a>
    </li>
    <li class=<%if (page=="torneo") {%>  active-link  <%}%>>
        <a href="/torneos" ><i class="fa fa-desktop "></i>Torneos <span class="badge">5</span></a>
    </li>
    <li class=<%if (page=="equipo") {%>  active-link  <%}%>>
        <a href="/equipos"><i class="fa fa-table "></i>Equipos<span class="badge">5</span></a>
    </li>
    <li class=<%if (page=="usuaio") {%>  active-link  <%}%>>
        <a href="/usuarios"><i class="fa fa-edit "></i>Usuarios<span class="badge">8</span></a>
    </li>
    <li class=<%if (page=="fecha") {%>  active-link  <%}%>>
        <a href="/fechas"><i class="fa fa-edit "></i>Fechas<span class="badge">8</span></a>
    </li>
</ul>