<ul class="nav" id="main-menu">
    <li class="active-link">
        <a href="/torneos" ><i class="fa fa-desktop "></i>Torneos <span class="badge">5</span></a>
    </li>
    <li>
        <a href="/equipos"><i class="fa fa-table "></i>Equipos<span class="badge">5</span></a>
    </li>
    <li>
        <a href="/usuarios"><i class="fa fa-edit "></i>Usuarios<span class="badge">8</span></a>
    </li>
    <li>
        <a href="/fechas"><i class="fa fa-edit "></i>Fechas<span class="badge">8</span></a>
    </li>
</ul>